.topBlock {

    .right-main {
        padding: 5%;
        display: flex;
        justify-content: center;
        .logo {
            opacity: 0.05;
            width: 80%;
        }
    }
}
.middleBlock {
    .left-main {
        padding: 5%;
        .logo {
            width: 100%;
            opacity: 0.5;
        }
    }
    .right-main {
        padding-left: 5%;
        ul {
            // background-color: blue;
            padding: 0px;
            li {
                height: 3.2rem;
                font-family: "Bebas Neue", cursive;
                color: #9ed1ae;
                list-style: none;
                font-size: 3rem;
                //background-color: red;
            }
        }
    }
}
.bottomBlock {
    .left-main {
        padding: 5%;
        p {
            opacity: 0.6;
            color: #fff;
            font-size: 0.7rem;
            text-align: center;
            font-family: "Acme", sans-serif;
        }
    }
    .right-main {
        padding-top: 4%;
        padding-left: 12%;
     //   display: none;
        ul {
            //background-color: blue;
            padding: 0px;
            li {
                height: 2rem;
                font-family: "Bebas Neue", cursive;
                color: #fff;
                list-style: none;
                font-size: 1.8rem;
                opacity: 0.8;
                // background-color: red;
            }
        }
    }
}

/*git remote add origin https://github.com/FarreraE/amagi.git
git branch -M main
git push -u origin main*/