.topBlock {
    padding-bottom: 10%;
    .left-main {
        padding-top: 5%;
    }
    .right-main {
        //background-color: blue;
        padding-top: 5%;
        .logoContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            .logo {
                opacity: 0.1;
                width: 90%;
            }
        }
    }
}
.middleBlock {
    margin-top: 100%;
    border-top: 0.15rem solid #fff;
    border-bottom: 0.15rem solid #fff;
    .left-main {
        padding-top: 5%;
        .logo {
            width: 100%;
            opacity: 0.8;
        }
    }
    .right-main {
        padding-left: 5%;
        ul {
            //  background-color: blue;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0px;
            li {
                height: 3.2rem;
                font-family: "Bebas Neue", cursive;
                color: #9ed1ae;
                list-style: none;
                font-size: 3rem;
                //background-color: red;
            }
        }
    }
}
.bottomBlock {
    padding-top: 2%;
    .left-main {
        padding: 5%;
        p {
            opacity: 0.6;
            color: #fff;
            font-size: 0.7rem;
            text-align: center;
            font-family: "Acme", sans-serif;
        }
    }
    .right-main {
        padding-top: 4%;
        display: none;
        ul {
            //background-color: blue;
            padding-left: 4%;
            li {
                height: 2rem;
                font-family: "Bebas Neue", cursive;
                color: #fff;
                list-style: none;
                font-size: 1.8rem;
                opacity: 0.8;
                // background-color: red;
            }
        }
    }
}

/*git remote add origin https://github.com/FarreraE/amagi.git
git branch -M main
git push -u origin main*/
