* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Morpheus";
    src: url(../fonts/MORPHEUS.TTF);
}
body {
    background: rgb(13, 42, 39);
    background: linear-gradient(90deg, rgba(13, 42, 39, 1) 50%, rgba(16, 84, 80, 1) 50%);
}
.container-fluid {
    background-color: #0d2a27;
}
.row {
    .left-main {
        background-color: #0d2a27;
    }

    .right-main {
        padding-bottom: 8%;
        background-color: #105450;
    }
    .right-mainAlternative {
        background-color: #0d2a27;
    }
}

@import "_home";
@import "_menu";
@import "_bebidas";
@import "_ginTonic";
